#pragma once

#ifdef _WIN32
#pragma warning(push)
#pragma warning(disable: 4244 4267)
#endif

{% for dep in dependencies %}
#include "{{ dep }}_proto.hpp"
{% endfor %}
{% for hpp in hpp_files %}
#include "{{ hpp }}"
{% endfor %}
#include "../proto_helpers.hpp"

#ifdef _WIN32
#pragma warning(pop)
#endif

{{ namespace_open }}
  {% for class in all_classes %}
  struct {{ class }};
  {% endfor %}

  {% for class in classes %}
  {{ class.name }} FromProtocol(const {{ class.proto_type }}& p);
  void ToProtocol(const {{ class.name}}& v, {{ class.proto_type}}* p);
  {% endfor %}
  {% for fwd in forward_decls %}
  {{ fwd }}

  {% endfor %}
{{ namespace_close }}
